<div class="modal fade" id="addBookmarkModal" tabindex="-1" aria-labelledby="addBookmarkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addBookmarkModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="bookmarkForm">
                    <div class="row mb-3 align-items-center">
                        <div class="col-3">
                            <label for="inputName" class="col-form-label">Name</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="inputName" class="form-control" aria-labelledby="passwordHelpInline"
                                formControlName="name">
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col-3">
                            <label for="inputWebLink" class="col-form-label">Url</label>
                        </div>
                        <div class="col-auto">
                            <input type="url" id="inputWebLink" class="form-control"
                                aria-labelledby="passwordHelpInline" formControlName="webLink">
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col-3">
                            <label for="textareaDescription" class="form-label">Description</label>
                        </div>
                        <div class="col-auto">
                            <textarea class="form-control" id="textareaDescription" rows="4" formControlName="description"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col-3">
                            <label for="addBookmarksTags" class="form-label">Tags</label>
                        </div>
                        <div class="col-auto">
                            <app-tags-picker (selectedItemsChange)="handleSelectedItemsChange($event)"></app-tags-picker>
                            <!-- <textarea class="form-control" id="addBookmarksTags" rows="3" formControlName="tags"></textarea> -->
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col-3">
                        
                        </div>
                        <div class="col-auto">
                            <app-tags-list [tags]="tags"></app-tags-list>
                        </div>
                    </div>
                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="addBookmark($event)" class="btn btn-primary">Add bookmark</button>
            </div>
        </div>
    </div>
</div>